<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015, Nordic Semiconductor
  ~ All rights reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
  ~
  ~ 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
  ~
  ~ 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the
  ~ documentation and/or other materials provided with the distribution.
  ~
  ~ 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this
  ~ software without specific prior written permission.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  ~ LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
  ~ HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
  ~ LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
  ~ ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE
  ~ USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="no.nordicsemi.android.scriba"
	android:installLocation="auto">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="no.nordicsemi.android.LOG" />

	<supports-screens android:anyDensity="true"/>

	<!-- Support any Android device with a pointer -->
	<uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

	<uses-feature
		android:name="android.hardware.bluetooth_le"
		android:required="true" />

	<application
		android:fullBackupContent="true"
		android:allowBackup="true"
		android:label="@string/app_name"
		 >

		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />



		<!-- Template plugin activities -->
		<!-- Remember to add your plug-in Activities to the Android Manifest file. -->


		<!-- Plug-in activities -->

		<activity
			android:name="no.nordicsemi.android.scriba.hrs.HRSActivity"
			android:icon="@drawable/scriba_launcher"
			android:theme="@style/AppTheme.DialogTheme"
			android:label="Scriba"
			android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="no.nordicsemi.android.nrftoolbox.LAUNCHER" />
			</intent-filter>
		</activity>

	</application>

</manifest>